<ion-view id="start">
    <ion-header-bar class="bar-assertive button-right">
        <h1 class="title"></h1>
        <button class="button button-positive" ui-sref="login">进入</button>
    </ion-header-bar>
    <ion-content class="haha">
        <ion-slide-box on-slide-changed="onSlideChanged()" auto-play="true" does-continue="true" slide-interval="2000" show-pager="true" >
            <ion-slide>
                <img src="images/0001.jpg" alt="">
            </ion-slide>
            <ion-slide>
                <img src="images/0002.jpg" alt="">
            </ion-slide>
            <ion-slide>
                <img src="images/0003.jpg" alt="">
            </ion-slide>
            <ion-slide>
                <img src="images/0004.jpg" alt="">
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>