<ion-view title="设置" id="setting">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button">我的</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <div class="item item-icon-right">
                账户与安全
                <i class=" icon ion-ios-locked balanced button-small lock"></i>

                <i class="icon  ion-chevron-right button-small"></i>
                <span class="item-note">已保护</span>
            </div>
            <div class="item">
                新消息通知
            </div>
            <div class="item">
                隐私
            </div>
            <div class="item">
                通用
            </div>
            <div class="item">
                帮助与反馈
            </div>
            <div class="item">
                <button class="button button-full button-assertive" ui-sref="login">退出登录</button>
            </div>
        </div>
    </ion-content>
</ion-view>