<ion-tabs class="tabs-positive  tabs-icon-only tabs-striped">

    <ion-tab title="Email" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble"  ui-sref="tabs.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="life" icon-on="ion-android-compass" icon-off="ion-android-compass" ui-sref="tabs.life">
        <ion-nav-view name="tab-life"></ion-nav-view>
    </ion-tab>
    <ion-tab title="addressList" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.addressList">
        <ion-nav-view name="tab-addressList"></ion-nav-view>
    </ion-tab>
    <ion-tab title="gear" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="tabs.gear">
        <ion-nav-view name="tab-gear"></ion-nav-view>
    </ion-tab>
</ion-tabs>